/* Styles for the banner */
header#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  /* top: 0; */
}

.title-banner {
  color: white;
  font-weight: 900;
  font-size: 3vw;
  font-family: "Cinzel", serif;
  text-align: justify;
}

.p-banner {
  font-style: 2vw;
  text-align: justify;

}

.img-banner {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
}

#content_info_banner {
  position: absolute;
  bottom: 12%;
  left: 7%;
  height: 15rem;
  width: 31rem;
}

.baner-info > p {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.5rem;
  text-align: justify;
}

.btn-action {
  border-radius: 5px;
  background: var(--azul);
  color: white;
  font-weight: 550;
  margin-top: 10px;
}

.btn-action:hover {
  background: green;
  color: white;
}

/* styles for contact banner */

#contact-banner {
  position: absolute;
  top: 9rem;
  right: 5rem;
  padding: 2rem;
  background: #0d2263a4;
  color: white;
  font-family: "Cinzel", serif;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  z-index: 9;
}

#tab {
  display: none;
  position: absolute;
  background: #b20205da;
  top: 45%;
  left: -64px;
  padding: 5px 10px;
  transform: rotate(-90deg);
  border-radius: 10px 10px 0 0;
}

#contact-banner.visible {
  right: 0;
}

#contact-banner.oculto {
  right: -100%;
}

.contact-btn-x {
  position: relative;
  height: 25px;
  width: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0.8rem;
  top: 0.8rem;
  cursor: pointer;
}

.contact-btn-x::before,
.contact-btn-x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: var(--rojo);
  border-radius: 5px;
}

.contact-btn-x::before {
  transform: rotate(45deg);
}
.contact-btn-x::after {
  transform: rotate(-45deg);
}

#x-contact-banner {
  display: none;
}
