#contact {
  background-color: #b202052c;
  /* color: white; */
  padding: 2rem 0;
  position: relative;
  display: none;
}

.number-contact{
  font-weight: 400;
}

.person{
  font-weight: 400;
}

.request{
  font-weight: 600;

}

