#galery {
  padding: 2.5rem;
  height: auto;
  background: #b202052c;
}

.title-galery {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--rojo);
}

.title-galery-sub {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--rojo);
  font-family: 'Cinzel', serif;

}

.container-galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  grid-auto-rows: 20rem;
  gap: 0.5rem 0.5rem;
  padding-top: 3rem;
}

.img-galery {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.content-img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.span1 {
  grid-column-start: span 2;
}

.span4 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.span6 {
  grid-column-start: span 2;
}

.span12 {
  grid-column-start: span 2;
}
