#services {
  padding-top: 4rem;
  height: auto;
  background: #def7ff;
}

.title-services {
  text-align: center;
  font-size: 3rem;
  font-weight: 600; 
  color: var(--azul);
}

.p-services {
  text-align: center;
  margin-top: 2rem;
}

.card-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 19.3rem), 1fr));
  grid-auto-rows: 20rem;
  gap: 3rem 2rem;
  /* justify-content: center; */
  /* place-items: center; */
  padding: 2rem 2rem;
}

.card-service {
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.418);
}

.card-service::after {
  position: absolute;
  content: "";
  height: 95%;
  width: 95%;
  border: 2px solid #d4af37;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-name {
  position: absolute;
  background: var(--azul);
  color: white;
  padding: 0.5rem;
  width: 60%;
  left: 50%;
  bottom: -1.5rem;
  text-align: center;
  transform: translate(-50%);
  z-index: 1;
}

.service-name::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 95%;
  border: 1px dashed white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-name > span {
  font-size: 1.3rem;
}

.themed-parties {
  padding: 2rem 0;
}

/* IMAGES FOR THE CARDS SERVICES */
.weading {
  background-image: url("../img/services/weeding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quince {
  background-image: url("../img/services/quince.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kids {
  background-image: url("../img/services/kids.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* themed decoration */

.fabric {
  background-image: url("../img/services/fabric.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.balloon {
  background-image: url("../img/services/balloon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bouncers {
  background-image: url("../img/services/bouncers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.popcorn {
  background-image: url("../img/services/pop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.floss {
  background-image: url("../img/services/floss.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
